{% extends "home/sub_base.html" %}

{% block title %}关于我们{% endblock %}

{% block content %}
<div class="jumbotron my-top-header">
        <p class="lead">WEE代表“WE Education”，代表着我们是开放教育的设计与践行者。 用我们的智慧，创造更多好玩有趣的“三人行必有我师”的开放学习机会。 我们相信每个人，都可以成为这样的开放学习机会的设计者和提供者。 我们相信每个生命，都应该有机会有权利享受这样的开放教育。
        </p>
</div>

<div class="panel panel-default">
        <div class="panel-heading">服务</div>
        <div class="panel-body">
                <p>注册的朋友，在这里就是学友，为探索世界，探寻真理，欢迎学友你来设计微课，来组织微聚。</p>
                <p>
                微课，线上学习内容的载体。<br />
                微聚，线下聚会交流的载体。<br />
                </p>
        </div>
</div>

<div class="panel panel-default">
        <div class="panel-heading">版权</div>
        <div class="panel-body">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"></a><br>本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh">知识共享署名-非商业性使用-相同方式共享 3.0 未本地化版本许可协议</a>进行许可。
        </div>
</div>

<div class="panel panel-default">
        <div class="panel-heading">联系方式</div>
        <div class="panel-body">
                <p>微博：<a href="http://weibo.com/joinwee">@JoinWEE</a></p>
                <p>邮箱：JoinWEE@gmail.com</p>
                <p>豆瓣小站：<a href="http://site.douban.com/207427">http://site.douban.com/207427/</a></p>
                <p>WEE Google Plus，<a href="https://plus.google.com/u/0/109054790672076236049">https://plus.google.com/u/0/109054790672076236049</a></p>
                <p>WEE BagTheWeb，<a href="http://bagtheweb.com/u/WEE">http://bagtheweb.com/u/WEE</a></p>
                <p>WEE Flickr，<a href="http://www.flickr.com/photos/79081661@N02">http://www.flickr.com/photos/79081661@N02</a></p>
        </div>
</div>

<div class="panel panel-default">
        <div class="panel-heading">支持机构</div>
        <div class="panel-body">
                <p>- 教育大发现社区，<a href="http://sociallearnlab.org">http://sociallearnlab.org</a></p>
                <p>- Swordi Media Lab：<a href="http://swordi.com">http://swordi.com</a></p>
        </div>
</div>


<div class="panel panel-default">
        <div class="panel-heading">我们的团队</div>
        <div class="panel-body">
                <p>- Xiuli Zhuang <a href="http://joinwee.com/accounts/Xiulizhuang/">http://joinwee.com/accounts/Xiulizhuang/</a></p>
                <p>- Oliver Ding <a href="http://joinwee.com/accounts/oliverding/">http://joinwee.com/accounts/oliverding/</a></p>
                <p>- Wanqing Wang <a href="http://joinwee.com/accounts/wwq0327/">http://joinwee.com/accounts/wwq0327/</a></p>
        </div>
</div>


{% endblock %}

