{% load thumbnail %}
{% load hitcount_tags %}

{% for lesson in lessons %}
<div class="col-xs-3 sm-6-bottom">
  <div class="thumbnail">

    <img src="{{ lesson.image |thumbnail_url:'lesson' }}" alt="{{ lesson.name }}">
    <a href="{{ lesson.get_absolute_url }}" title="{{ lesson.name|safe }}"><div class="link-a"></div></a>
    <div class="caption">
      <h5 class="lesson-title"><a href="{{ lesson.get_absolute_url }}" title="{{ lesson.name|safe }}">{{ lesson.name|striptags }}</a></h5>
      <p class="lesson-con">{{ lesson.desc|striptags|slice:":80"|safe}}</p>
      <p class="lesson-info">
        <span>学友：{{ lesson.get_favs|length}}</span>
        <span>讨论：{{ lesson.get_topics|length}}</span>
        <span>浏览数：{% get_hit_count for lesson %}</span>
      </p>
      <p class="lesson-fun">
        <small>由<a href="{% url 'profile_detail' lesson.creater.username %}">{{ lesson.creater.profile.get_nick_name }}</a>创建于{{ lesson.created|date:"Y-m-d" }}</small></p>
    </div>
  </div>
</div>

{% endfor %}
