{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row my-top-header">
  <div class="col-lg-offset-2 col-lg-8">
    <h2 class="page-header">{% trans "Change Password" %}</h2>
    <form method="post" action="{% url 'account_change_password' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
    </form>
  </div>
</div>
{% endblock %}
