{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{% trans "Password Reset" %} - WEE{% endblock %}

{% block content %}
<div class="row my-top-header">
  <div class="col-lg-offset-2 col-lg-8">
    <h2 class="page-header">{% trans "Password Reset" %}</h2>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <form method="post" action="{% url 'account_reset_password' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary">{% trans "Reset My Password" %}</button>
    </form>
  </div>
</div>
{% endblock %}
