{% extends "notifications/sub_base.html" %}

{% block title %}消息{% endblock %}
{% block notify_main %}

<div class="row">
  <div class="col-lg-offset-2 col-lg-8">

    <h3 class="text-center page-header-1">
      我的消息
      <small class="pull-right" style="margin: 10px 0;">
	<a href="{% url 'notifications:mark_all_as_read' %}">全部标为已读</a>
      </small>
    </h3>
    {% if notifications %}
    <div class="notifications">
      {% for notice in notifications %}
      {% include 'notifications/notice.html' %}
      {% endfor %}
    </div>
    {% else %}
    <strong>你暂时还没有收到任何消息</strong>
    {% endif %}
  </div>
</div>

{% endblock %}
