{% load url from future %}

<div class="page-header-1 {% if not notice.unread %}text-muted{% endif %}">
  <a href="{% url 'userena_profile_detail' notice.actor %}">{{ notice.actor.profile.get_nick_name }}</a>
  {% if notice.target %}
  在您的《
  <a href="{{ notice.action_object.get_absolute_url }}">{{ notice.action_object.name }}</a>
  》中发起了一个名为“
  <a href="{{ notice.target.get_absolute_url }}">{{ notice.target.title }}</a>
  ”的新讨论，
  {% else %}
  在你所发起的“
  <a href="{{ notice.action_object.get_absolute_url }}">{{ notice.action_object.title }}</a>
  ”中留下一条评论，
  {% endif %}
  {{ notice.timesince }}前。
</div>
