{% extends "userena/base_userena.html" %}

{% block title %}创建帐号信息{% endblock %}

{% block content %}

<div class="my-top-header">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <h3 class="page-header">创建帐号信息<small>创建一个本站的帐号，以后你可以使用这个帐号进行登录</small></h3>

      <form method="post" action="" class="form-horizontal">
	{% csrf_token %}

	<fieldset>
	  {% for field in form %}
      
	  {% comment %} Displaying checkboxes differently {% endcomment %}
	  <p>
            <div class="form-group">
              <label for="id_{{ filed.name }}" class="col-lg-4 control-label">{{ field.label_tag }}</label>
              <div class="col-lg-4">{{ field }}</div>
	      {% if field.errors %}
	      <div class="col-lg-4"><span class="text-danger">{{ field.errors }}</span></div>
	      {% endif %}
            </div>
	  </p>
	  {% endfor %}
      
	  <div class="form-group">
            <div class="col-lg-offset-4 col-lg-2">
              <input type="submit" class="btn btn-primary btn-block" value="发送验证" />
            </div>
	  </div>
	  
	</fieldset>
      </form>

    <div class="alert alert-info">
      <p>所创建的帐号仅为本站的登录帐号，创建成功之后，你即可以使用当前关联的社交帐号登录，也可以使用这个帐号进行登录。帐号密码本站已加密，请放心使用。</p>
      <p>如果你现在暂时不想创建WEE帐号，请点击<a href="/">跳过</a>直接访问本站首页。以后，你可以访问个人信息中的“邮箱验证”再次注册即可。</p>
    </div>
    </div>

  </div>
</div>
{% endblock %}
