{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load thumbnail %}

{% block title %}我们的学友{% endblock %}

{% block content %}
<div class="row my-top-header">
{% block content_title %}<h3 class="page-header t_c">我们的学友<!--<small>目前已有 {{ profile_list|length }} 位会员加入了joinwee。</small>--></h3>{% endblock %}

{% for profile in profile_list %}
  <div class="col-xs-1 col-sm-6 col-md-1">
    {% if fav.user.profile.mugshot %}
      <a href="{% url 'profile_detail' profile.user.username %}" title="{{ profile.user.username }}">
        <img src="{{ profile.user.profile.mugshot|thumbnail_url:'com_header' }}">
      </a>
    {% else %}

      <a href="{% url 'profile_detail' profile.user.username %}" title="{{ profile.user.username }}">
        <img src="{{ profile.user.profile.get_mugshot_url }}" width="64" height="64">
      </a>

    {% endif %}
      <p style="width:64px; overlower: hidden;">
        <a href="{% url 'profile_detail' profile.user.username %}" title="{{ profile.user.username }}">
          <div class="you-header"><small>{{ profile.user.profile.get_nick_name }}</small></div>
        </a>
      </p>
  </div>
{% endfor %}

</div>

{% if is_paginated %}
<div class="row">
<ul class="pagination">

    {% if page_obj.has_previous %}
      <li><a href="{% url 'userena_profile_list_paginated' page_obj.previous_page_number %}">{% trans 'previous' %}</a></li>
    {% endif %}

    {% blocktrans with page_obj.number as page and page_obj.paginator.num_pages as num_pages %}
      <li><span class="current page">{{ page }}</span></li>
    {% endblocktrans %}

    {% if page_obj.has_next %}
      <li><a href="{% url 'userena_profile_list_paginated'  page_obj.next_page_number %}">{% trans 'next' %}</a></li>
    {% endif %}

</ul>
</div>
{% endif %}



{% endblock %}
