{% extends 'base.html' %}
{% load i18n bootstrap3 %}

{% block title %}{% trans "Edit Profile" %}{% endblock %}

{% block content %}
<div class="row my-top-header">
  <div class="col-lg-offset-2 col-lg-8">
    <h2 class="page-header">{% trans "Edit Profile" %} - {{ profile.user.username }}</h2>
    <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-2">
          <input type="submit" value="{% trans "Save changes" %}" class="btn btn-primary" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
