{% extends "userena/base_userena.html" %}
{% load snsname %}

{% block title %}社交帐号关联{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <div class="page-header"><h3>社交帐号</h3></div>

    {%if user.is_authenticated%}
    <p>你正在使用 <b>{{user.username}}</b> | <b>{{user.email}}</b>登录 </p>
    {%endif%}
    <h5 class="info-border">已关联账号：</h5>
    {%for name, accounts in social_auth.associated.items%}
    {% for account in accounts %}
    {% if account %}
    <p class="desc">{{account.provider|title|snsname}}<a class="btn btn-default btn-xs" href="{%url 'socialauth_disconnect_individual' account.provider account.id%}">取消关联</a></p>
    {% endif %}
    {%endfor %}
    {%endfor%}

    {% if social_auth.not_associated %}
    <h5 class="info-border">未关联账号：</h5>

    {% for name in social_auth.not_associated.oauth2 %}
    <a rel="nofollow" class="text-muted" href="{% url "socialauth_begin" name %}">{{ name|title|snsname }}</a>
    {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}
